{%- if settings.cart_type == 'drawer' -%}
  <div class="drawer__cart-gifts hidden">
    <h3 class="drawer__cart-gifts__title">{{ settings.cart_gifts_header }}</h3>
    <div class="swiper">
      <div class="drawer__cart-gifts__items swiper-wrapper">
        {%- for product in settings.cart_gifts_product_list -%}
          {% assign variant_id = product.variants[0].id %}
          <div class="gift__item swiper-slide">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" width="120" height="140">
            <div>
              <h3 class="title">{{ product.title }}</h3>
            
              {% assign is_selected = false %}

              {% for item in cart.items %}
                {% if item.variant_id == variant_id %}
                  {% assign is_selected = true %}
                {% endif %}
              {% endfor %}
          
               <button class="select-btn {% if is_selected %} selected {% endif %}" type="button" data-variant-id="{{variant_id}}">
                {% render 'icon-checkmark' %}
                {% if is_selected %} 
                  <span>Selected</span> 
                {% else %}
                  <span>Select</span> 
                {% endif %}
              </button>
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-button-prev"> </div>
      <div class="swiper-button-next">  </div> 
    </div>
  </div>
{%- endif -%} 
